.section-bg{
    background-color:white;
}
.heading{
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}
.description{
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}
.card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.card-description {
    color: #7b8794;
    font-family: "Roboto";
    font-size: 16px;
}
